*{
    margin: 0;
    padding: 0%;

}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,143,77,1) 31%, rgba(0,212,255,1) 100%);
}



input{
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;


}

div#corpo-form{
    width: 420px;
    margin: 150px auto 0px auto;

}

div#corpo-form h1{
    text-align: center;
    padding: 20px;
    
}

a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover{
    text-decoration: underline;
}

input[type=submit]{
    border: none;
    background-color: darkgoldenrod;

}

div#msg-sucesso{
    width: 420px;
    margin: 10px;
    padding: 10px;
    background-color: green;
    border: 1px solid;

}

div.msg-erro{
    width: 420px;
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
    border: 1px solid;

}